<!DOCTYPE html>
{% extends 'base3.html' %}
{% load static %}


        {% block stylesheet %}
            <link rel="stylesheet" href= "{% static "CSS/regi_css/doc_login.css" %}">
        {% endblock%}
{% block body_block %}
  <div class="container1">
      <center><h3 class="">Doctor Login</h3></center>

        <form method="post" action="{% url 'register_app:doc_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password">Password</label><br>
          <input type="password" name="password"><br>
            <br>
          <center><button type="submit" class="btn btn-primary">&nbsp&nbsp&nbsp&nbsp&nbspLogin&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            <br><br>

            <a href="{% url 'register_app:d_register' %}" class="btn-primary">Register Now</a>

            </center>
        </form>
  </div>
{% endblock %}
